{% extends "layout.html" %}


{% block content %}
	<style>
		.name-text {
			font-weight: bold;
			font-size: 30px;
			margin-bottom: 10px;
			color: rgb(139, 124, 109);
		}
		.title-text {
			font-family: tahoma;
			font-weight: bold;
			font-size: 50px;
		}

		.instruction-text {
			font-family: tahoma;
			font-size: 15px;
			margin-bottom: 10px;
		}

		.learn-button{
			width: 160px;
			position: absolute;
			right: 20px;
		}

		.tbc-content {
			background-color: #e1decf;
		}
		.tbc-content:hover {
			background-color: #bdbbb0;
		}

		.tbc-image{
			border: 3px solid black;
		}
		
	</style>
	<div class="container mt-5 text-center">
        <h1 class="p-3 title-text">Table of Contents</h1>
		<div class="instruction-text p-2">To start, select any figure or use the previous/next buttons and table of contents dropdown to navigate between learning pages.</div>
	<div class="row g-4">
		<div class="col-md-6">
			{% for figure in figures.values() %}
				{% if not loop.index is divisibleby 2 %}
				<a class="dropdown-item h4" href="/learn/{{ figure.id }}">
					<div class="d-flex align-items-center justify-content-center p-2 tbc-content">
						<div class="name-text p-2 text-align-center col-6">{{ figure.name }}</div>
						<img class="w-25 p-2 col-6 tbc-image" src="/static/{{figure.name}}Table-nobkg.png" alt="{{ figure.name }}" />
						<!-- <div class="name-text p-2 text-start col-6">{{ figure.name }}</div> -->
					</div>
					<br>
				</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-md-6">
			{% for figure in figures.values() %}
			    {% if loop.index is divisibleby 2 %}
			    	<a class="dropdown-item h4" href="/learn/{{ figure.id }}">
					<div class="d-flex align-items-center justify-content-center p-2 tbc-content">
						<img class="w-25 p-2 col-6 tbc-image" src="/static/{{figure.name}}Table-nobkg.png"  />
						<div class="name-text align-it text-align-center p-2 col-6">{{ figure.name }}</div>
						<!-- <div class="name-text p-2 text-start col-6 d-flex flex-column justify-content-center">
							<div>{{ figure.name }}</div>
						</div> -->
						
					</div>
					<br>
				</a>
			    {% endif %}
			{% endfor %}
		</div>
	    </div>
		<a class="btn btn-secondary learn-button" href="/learn/1">Page 1</a>
	</div>

{% endblock %}