{% extends "quiz_layout.html" %}

{% block quiz_content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        .container {
            margin-top: 80px;
        }

        .info_block {
            width: 70%;
            margin-top: -8px;
            margin-bottom: 20px;
            border: 2px solid black;
            display: none;
        }

        .fib-input {
            width: calc(100% + 10px); /* Adjust the width to match info_block and compensate for padding */
            /* Adjust other styles as needed */
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col6 container">
                <div class="image">
                    <img id="main_img" class="img-fluid" src= "/static/{{ information.images[0] }}" alt="img">
                    <img id="hint_img" src= "/static/{{ information.hints[0] }}" alt="hint" style="display: none;">
                </div>
            </div>
            <div class="col-md-6 col6 container">
                {% for fib in information.answers %}
                
                <label> Who is figure number {{loop.index}}:
                    <input class="fib-input" list="browsers" name="fib_answer_{{ loop.index }}" />
                </label>
               
                <datalist id="browsers">
                    {% for figure in figures.values() %}
                        <option value="{{figure.name}}">{{figure.name}}</option>
                    {% endfor %}
                </datalist>
                
                <div class="info_block" id="info_block_{{ loop.index }}">
                    {{ information.explanation_text[loop.index - 1] }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        var information = {{ information | tojson | safe }};
        var next_button = document.querySelector('.next-button');
        var buttons = document.getElementById('buttons-id');
        var learn_more = document.getElementById('learn-more-id');
        // console.log(information.answered);
        var questionType = 'fitb';
        // console.log(information);
    
        updateInputs();
    
        // Disable the next button initially
        

        function checkSubmit() {
            if (information.answered == 0) {
                var fibInputs = document.querySelectorAll('.fib-input');
                fibInputs.forEach(function(input, index) {
                    var inputValue = input.value.trim();
                    if (inputValue !== '') {
                        document.getElementById('info_block_' + (index + 1)).style.display = 'block';
                    }
                    if (inputValue.toLowerCase() == information.answers[index].toLowerCase()) {
                        document.getElementById('info_block_' + (index + 1)).style.borderColor = 'green';
                    } 
                    else {
                        document.getElementById('info_block_' + (index + 1)).style.borderColor = 'red';
                    }
                    console.log("set answers:")
                    information.user_answers[index] = inputValue;

                });
                information.answered = 1;
                console.log(information);
                
                submitted = true;
    
                // Call submitQuiz function after updating user answers
                submitQuiz();
                // replaceButtons();
                next_button.style.display = 'block';
                
            }
        }
    
        function updateInputs() {
            if(information.answered == 1){
                var fibInputs = document.querySelectorAll('.fib-input');
                fibInputs.forEach(function(input, index) {
                    input.disabled = true;
                    input.value = information.user_answers[index];
                    var inputValue = input.value;
                    if (inputValue !== '') {
                        document.getElementById('info_block_' + (index + 1)).style.display = 'block';
                    }
                    if (inputValue.toLowerCase() == information.answers[index].toLowerCase()) {
                        document.getElementById('info_block_' + (index + 1)).style.borderColor = 'green';
                    } else {
                        document.getElementById('info_block_' + (index + 1)).style.borderColor = 'red';
                    }
                });
                next_button.style.display = 'block';
                // buttons.style.display = 'none';
                // reset_button.style.display = 'none';
                // submit_button.style.display = 'none';
                // learn_more.style.display = 'block';

            }else{
                next_button.style.display = 'none';
            }
            
        }
    
        function reset() {
            if (!information.answered) {
                var infoBlocks = document.querySelectorAll('.info_block');
                var fibInputs = document.querySelectorAll('.fib-input');
                infoBlocks.forEach(function(block) {
                    block.style.display = 'none';
                });
                fibInputs.forEach(function(input, index) {
                    input.value = '';
                });
            }
        }
    </script>
    
</body>

{% endblock %}
