<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="data:,">

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

	<!--Stylesheet-->
	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

	<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

	<title>Greek Mythology in Art</title>
</head>

<body>



	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container-fluid p-2 ml-2">
			<a class="navbar-brand" href="/">Greek Mythology in Art</a>
			<div class="ml-auto">
				<div class="btn-group">
					<a class="btn btn-secondary navbar-button" href="/learn">Table of Contents</a>
					<a class="btn btn-secondary dropdown-toggle dropdown-toggle-split navbar-button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
					</a>
					<div class="dropdown-menu">
						{% for figure in figures.values() %}
							<a class="dropdown-item" href="/learn/{{figure.id}}">{{figure.name}}</a>
						{% endfor %}
					</div>
				</div>
				<a class="btn btn-secondary navbar-button" href="/quiz/0">Take Quiz</a>

			</div>
		</div>
	</nav>
	

	<div class=" mt-5 pt-3">
		{% block content %}
		{% endblock %}
	</div>


</body>

</html>