<!doctype html>
<html lang="en">
	<head>
    		<!-- Required meta tags -->
    		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
     		<link rel="icon" href="data:,">

		<!-- jquery -->
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		
		<!--Stylesheet-->
		<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    		<title>Greek Mythology in Art</title>
  	</head>
  	<body>
    

    
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<div class="container-fluid p-2">
				<a class="navbar-brand" href="/">Greek Mythology in Art</a>
				<a class="btn btn-secondary" href="/quiz">Take Quiz</a>
			</div>
		</nav>

		<div class=" mt-5 pt-3">   
			{% block content %}
			{% endblock %}
		</div>


  	</body>
</html>




