{% extends "layout.html" %}


{% block content %}

<div class="container">
	<div id="learnPage">
		<div class="row figureName">{{figure.name}}</div>
			<div class="row">
				<div class="col side">
					<div class="div-column"><img class="img-fluid column" src="/static/column.jpg" /></div>
					{% if (figure.id | int) > 1 %}
						<a class="btn btn-secondary learn-button" href="/learn/{{figure.id | int - 1}}">Back</a>
					{% else %}
						<a class="btn btn-secondary learn-button" href="/learn">Back</a>
					{% endif %}
				</div>
				<div class="col-6 row">
					<div class="col-2">
						<img class="img-fluid" src="/static/{{figure.data[0]}}" />
					</div>
					<div class="col-10">
						<a class="row" id="specific">Description:</a>
						<div class="row">{{figure.description}}</div>
						<a class="row" id="specific">Symbols:</a>
						<a>{{ ", ".join(figure.symbols).capitalize() }}.</a>
					</div>
				</div>
				<div class="col side">
					<div class="div-column"><img class="img-fluid column" src="/static/column.jpg" /></div>
					{% if (figure.id | int) < figures|length %}
						<a class="btn btn-secondary learn-button" href="/learn/{{figure.id | int + 1}}">Next</a>
					{% else %}
						<a class="btn btn-secondary learn-button" href="/quiz">Take Quiz</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}