{% extends "layout.html" %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
	$(document).ready(function(){
		$(".fa-eye").click(function(){
			tooltip = $(this).children('.tooltiptext')
			if ( tooltip.css('visibility') == 'hidden' )
				tooltip.css('visibility','visible');
			else
				tooltip.css('visibility','hidden');
		})
		// $(".close-tooltip").click(function(event){
		// 	event.stopPropagation();
		// 	$(this).parent('.tooltiptext').css("visibility", "hidden");
		// })

	})
</script>

<style>	
	.fa-eye {
		cursor:pointer;
	}
	/* .close-tooltip {
		display: inline;
		background-color: red;
		width: 10px;
		height: 10px;
		top: 0;
		text-align: top;
		font-size: 20%;
		font-style: bold;
		padding: 2px;
		margin: 0px;

	} */
	.fa-eye .tooltiptext {
	  visibility: hidden;
	  width: 120px;
	  display: inline-block;
	  background-color: gray;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px 0;
	  position: absolute;
	  z-index: 1;
	  top: -5px;
	  right: 150%; /*controls the side of the tooltip*/
	}
	
	.fa-eye .tooltiptext::after {
	  content: " ";
	  position: absolute;
	  top: 50%;
	  left: 100%;
	  margin-top: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: transparent transparent transparent gray;
	  
	}
	/* .fa-eye:hover .tooltiptext {
	  visibility: visible;
	}  */
</style>

<div class="container">
	<div id="learnPage">
		<div class="row figureName">{{figure.name}}</div>
			<div class="row">
				<div class="col side">
					<div class="div-column"><img class="img-fluid column" src="/static/column.jpg" /></div>
					{% if (figure.id | int) > 1 %}
						<a class="btn btn-secondary learn-button" href="/learn/{{figure.id | int - 1}}">Back</a>
					{% else %}
						<a class="btn btn-secondary learn-button" href="/learn">Back</a>
					{% endif %}
				</div>
				<div class="col-6 row">
					<div class="row div_learn_img">
						{% for i in range(2) %} <!--for each learning image-->
							<div class="col-6">
								<img class="img-fluid learn_img img-responsive" src="/static/{{figure.data[i]}}" />
								{% for symbol, coords in images[figure.data[i]].symbols.items() %}
									<i class="fa fa-eye position-absolute text-info" style="top:{{coords[0]}}px;left:{{coords[1]}}px">
										<span class="tooltiptext" style="font-family: tahoma;"> {{symbol}} </span>
									</i>
								{% endfor %}
							</div>
						{% endfor %}
						<a class="row" style="font-weight: bold;">Click on the eye to learn more about each symbol!</a>
					</div>
					<div class="col-10 div_description">
						<a class="row" id="specific">Description:</a>
						<div class="row">{{figure.description}}</div>
						<p></p>
						<a class="row" id="specific">Symbols:</a>
						<div class="row">{{", ".join(figure.symbols).capitalize() }}.</div>
					</div>
				</div>
				<div class="col side">
					<div class="div-column"><img class="img-fluid column" src="/static/column.jpg" /></div>
					{% if (figure.id | int) < figures|length %}
						<a class="btn btn-secondary learn-button" href="/learn/{{figure.id | int + 1}}">Next</a>
					{% else %}
						<a class="btn btn-secondary learn-button" href="/quiz/0">Take Quiz</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}